<%- include ('../partials/_header.ejs') %>
<main>
    <div class="list-page">
        <div class="main-left">
            <div class="top-img">
                <img src="images/navimg.png"/>
            </div>
            <nav class="menu">
                <h3 class="menu-title">Menu quản trị</h3>
                <ul>
                    <li><a class="menu__item" href="/admin?view=books">Quản lý sách</a></li>
                    <li><a class="menu__item" href="/admin?view=users">Quản lý người dùng</a></li>
                    <li><a class="menu__item" href="/admin?view=orders">Quản lý đơn đặt hàng</a></li>
                    <li><a class="menu__item" href="/users/logout">Đăng xuất</a></li>
                </ul>

            </nav>
        </div>
        <div class="main-right">
            <% var title = "TRANG QUẢN TRỊ"; %>
            <% if (view == 'books') title = "QUẢN LÝ SÁCH TRONG HỆ THỐNG" %>
            <% if (view == 'users') title = "QUẢN LÝ NGƯỜI DÙNG HỆ THỐNG" %>
            <% if (view == 'orders') title = "QUẢN LÝ ĐƠN ĐẶT HÀNG" %>
            <% if (view == 'book-create') title = "THÊM SÁCH MỚI" %>
            <h1><%= title %></h1>
            <div class="list-zone">
                <% if(view == 'books') { %>
                    <div>
                        <a class="btn btn-black" href="/admin?view=book-create"><i class="fas fa-plus"></i> Thêm sách
                            mới</a>
                    </div>
                    <div class="container mt-2">
                        <table class="table table-bordered bg-light table-responsive-sm" style="min-width: 100%">
                            <thead>
                            <tr>
                                <th scope="col">Trang bìa</th>
                                <th scope="col">Tiêu đề</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Hành động</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% books.forEach(book=>{ %>
                                <tr>
                                    <td><img src="<%= book.image %>" alt="Book Cover" class="img-thumbnail"
                                             style="height: 100px; width: auto;"></td>
                                    <td class="lead text-primary"><%= book.title %> </td>
                                    <td class="lead text-danger"> <%= book.price %> ₫</td>
                                    <td>
                                        <a href="/books/edit/<%= book._id %>" class="btn btn-sm btn-info">Sửa</a>
                                        <form action="/books/delete/<%= book._id %>?_method=DELETE" class="d-inline"
                                              method="POST">
                                            <button type="submit" class="btn btn-sm btn-danger">Xóa</button>
                                        </form>
                                    </td>
                                </tr>
                            <% }) %>
                            </tbody>
                        </table>
                    </div>
                <% } %>
                <% if (view == 'book-create') { %>
                    <form method="POST" action="/books/new">
                        <%- include ('../books/_bookForm.ejs') %>
                    </form>
                <% } %>
                <% if (view == 'users') { %>
                    <div class="container mt-2">
                        <table class="table table-bordered bg-light table-responsive-sm">
                            <thead>
                            <tr>
                                <th scope="col">Tên</th>
                                <th scope="col">Email</th>
                                <th scope="col">ID</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% users.forEach(user=>{ %>
                                <% if(user.role !== 'admin') { %>
                                    <tr>
                                        <td style="text-transform: capitalize;"><%= user.name %> </td>
                                        <td><%= user.email %> </td>
                                        <td><%= user._id %> </td>
                                    </tr>
                                <% } %>
                            <% }) %>
                            </tbody>
                        </table>
                    </div>
                <% } %>
                <% if (view == 'orders') { %>
                    <div class="container mt-2">
                        <table class="table table-bordered bg-light table-responsive-sm">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Giá</th>
                                <th scope="col">Chi tiết</th>
                                <th scope="col">Ngày</th>
                                <th scope="col">Khách hàng</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% orders.forEach(order=>{ %>
                                <tr>
                                    <td style="font-size: 75%;"><%= order._id %> </td>
                                    <td class="text-danger"><%= order.amount %> ₫</td>
                                    <td>
                                        <table class="table table-bordered bg-light table-responsive-sm">
                                            <thead>
                                            <tr>
                                                <th scope="col">Tên</th>
                                                <th scope="col">Giá</th>
                                                <th scope="col">Số lượng</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <% order.details.forEach(cartItem=>{ %>
                                                <tr>
                                                    <td><%= cartItem.book.title %> </td>
                                                    <td class="text-danger"><%= cartItem.book.price %> ₫</td>
                                                    <td>
                                                        <%= cartItem.quantity %>
                                                    </td>
                                                </tr>
                                            <% }) %>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td>
                                        <%= order.createdAt %>
                                    </td>
                                    <td>
                                        <%= order.user.name %>
                                        <br>
                                        <span class="text-primary">
                                            <%= order.user.email %>
                                        </span>

                                    </td>
                                </tr>
                            <% }) %>
                            </tbody>
                        </table>
                    </div>
                <% } %>
            </div>
        </div>
    </div>


</main>

<%- include ('../partials/_footer.ejs') %>