<%- include ('../partials/_header.ejs')  %>
        </header>
        <div class="login-wrapper">
            <%- include ('../partials/_msg.ejs')  %> 
            <div class="container">    
                <div class="login-title"><h1>Đăng nhập</h1></div>
            </div>
            <div class="login-container">
                <div class="form-panel">
                    <div class="form-title">Đăng nhập</div>
                    <form action="/users/login" method="POST">
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input required type="text" id="email"  class="login__input" placeholder="Email" name="email" value="<%= typeof user == 'undefined' ? '' : newUser.email %>" />
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-lock"></i>
                            <input required type="password" class="login__input" id="password" placeholder="Mật khẩu" name="password" value="<%= typeof user == 'undefined' ? '' : user.password %>">
                        </div>
                        <div class="login__field">
                            <input type="checkbox" id="password" name="remember_me"> Ghi nhớ đăng nhập
                        </div>
                        <button type="submit" class="button-primary w-100">Đăng nhập</button>
                        <hr/>
                        <a href="/users/register" class="button-primary w-90">Đăng ký</a>
                    </form>

                </div>
            </div>
        </div>
<%- include ('../partials/_footer.ejs')  %>